<!--form.ejs-->
<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" placeholder="Titulo">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="Preço">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao" id="descricao" placeholder="Descrição"></textarea>
            </div>
            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>