<html>
	<body>
		<table border="1px">
			<tr>
				<td>id</td>
				<td>titulo</td>
				<td>descricao</td>
				<td>preco</td>	
			</tr>
			<%lista.forEach(function(item) {%>
				<tr>
					<td><%=item.id%></td>
					<td><%=item.titulo%></td>
					<td><%=item.descricao%></td>
					<td><%=item.preco%></td>
			<%})%>
		</table>
	</body>
</html>
